<!--* 
    *
    * @Author  ShaneZhou
    * @Time 2020/06/01 11:01:43
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!-- topbar -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
         th:fragment="topbar">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">[[${session.username}]]</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" th:href="@{/signout}">Sign out</a>
            </li>
        </ul>
    </nav>

    <!-- sidebar -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
         th:fragment="sidebar">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/emps/1/10}"
                   th:class="${activeUri == 'emps' ? 'nav-link active' : 'nav-link'}">
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
        </ul>

    </div>
    </nav>


</body>
</html>